<div layout="row" flex  ng-switch="isAuthenticated()" >


<!-- Layout Pre Authn Starts -->
   <div layout="row" flex ui-sref-active="active" ng-switch-when="false">
   
    	<div layout="column" role="main" flex>
		    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
		
		 		<div ui-view="navbar" ></div>
		       
		    </md-toolbar>
		    
			<md-content ui-view="preAuth_content" md-scroll-y flex></md-content>
		
		</div>  
		
   </div>
<!-- Layout Pre Authn ends -->

<!-- Layout Post Authn Starts -->
  <div  layout="row" flex ui-sref-active="active" ng-switch-when="true">

		<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
		              md-component-id="left"
		              md-is-locked-open="$mdMedia('gt-sm')">
		  
		    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar"></md-toolbar>
		    
    		<md-content ui-view="content" md-scroll-y flex layout-padding></md-content> 
				
 
		</md-sidenav> 		
		   
		<div layout="column" role="main" flex>
		    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
		
		 		<div ui-view="navbar" ></div>
		       
		    </md-toolbar>
		    
 			<md-content ui-view="content" md-scroll-y flex layout-padding></md-content>
 		
		</div> 
		  												
	</div>	
<!-- Layout Post Authn Ends -->
			
</div>