<div layout="column" layout-align="center center">
    <h2 translate="login.title">Authentication</h2>
    
    <md-content layout-padding class="autoScroll">
    
        <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
        </div>
            
         <md-card>
	      <md-card-content>
	           <form class="form" role="form" ng-submit="login($event)">
	               <md-input-container class="md-icon-float">
				      <label>Email or Username</label>
				      <md-icon class="name"><span class="glyphicon glyphicon-user"></span></md-icon>
				      <input ng-model="username">
				    </md-input-container>
	                  <md-input-container class="md-icon-float">
				      <label>Password</label>
				      <md-icon class="name"><span class="glyphicon glyphicon-lock"></span></md-icon>
				       <input type="password" ng-model="password">
				    </md-input-container>
				   
				     <md-button class="md-raised md-primary" translate="login.form.button">Primary</md-button>
				    
	             </form>
	       </md-card-content>
		  </md-card>

    		<br><br>
    		
            <div class="alert alert-warning">
 				 Did you forget your password? <a ui-sref="requestReset">Reset It</a>
        	 </div>
            <div class="alert alert-warning">
                You don't have an account yet? 
                <a ui-sref="register">Create a new account</a>
            </div>
  </md-content>
</div>
