<!-- Pre Authn Navbar Starts-->

 <div  ng-cloak ng-switch="!isAuthenticated()" >
    <div layout="row" ui-sref-active="active" ng-switch-when="true">
  
      <div class="md-toolbar-tools" layout="row" >
       
	     <div  layout-align="start center" flex>
	         <h2>
	          <span>
	            <a class="navbar-brand" href="#/"><span translate="global.title">jhipster</span></a>
			  </span>
	         </h2>
   	 	</div>
   	 	 
        <div>
        	 <md-button  class="md-raised"  ui-sref="login"><span class=""> Log In </span></md-button>   			 
        	 <md-button  class="md-raised"  ui-sref="register"><span class=""> Sign up </span></md-button>   			 
   	 	</div>   	 	
      
 	</div>
 </div>   
<!-- Pre Authn Navbar Ends-->

<!-- Post Authn Navbar Starts -->
 
   
 <div  ng-cloak ng-switch="isAuthenticated()" >
    <div layout="row" ui-sref-active="active" ng-switch-when="true">
  
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center" >
       
         <div>
	          <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button"> 
	    	  <span class="glyphicon glyphicon-menu-hamburger"></span>
	          </md-button>	        
  		 </div>       
         <div >
	         <h2>
	          <span>
	            <a class="navbar-brand" href="#/"><span translate="global.title">jhipster</span></a>
			  </span>
	         </h2>
   	 	 </div> 
         <div hide-sm>
            <md-menu>		     
		      <md-button  class="md-raised"  ng-click="openMenu($mdOpenMenu, $event)"><span class="glyphicon glyphicon glyphicon-user"> Profile</span></md-button>   			 
   		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ui-sref="settings"><span class="glyphicon glyphicon glyphicon-wrench"> Settings</span></md-button>
		        </md-menu-item>  
		        <md-menu-divider></md-menu-divider>
		        <md-menu-item>
		          <md-button ng-click="logout()"><span class="glyphicon glyphicon glyphicon-off"> Logout</span></md-button>
		        </md-menu-item>
		      </md-menu-content>		      
		    </md-menu>
   	 	 </div>
   	     <div hide-gt-sm>
            <md-menu>		     
  			  <md-button  ng-click="openMenu($mdOpenMenu, $event)" class="md-icon-button" ><span class="glyphicon glyphicon glyphicon-user"></span></md-button>   			 
  		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ui-sref="settings"><span class="glyphicon glyphicon glyphicon-wrench"> Settings</span></md-button>
		        </md-menu-item>  
		        <md-menu-divider></md-menu-divider>
		        <md-menu-item>
		          <md-button ng-click="logout()"><span class="glyphicon glyphicon glyphicon-off"> Logout</span></md-button>
		        </md-menu-item>
		      </md-menu-content>		      
		    </md-menu>
   	 	 </div>     
      </div>
      
 	</div>
 </div>   
<!-- Post Authn Navbar Ends -->
 